body {
    display: flex;
    background: lightcyan;
    position: relative;
    height: 754px;
}
div {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: auto;
}
button {
    width: 60px;
    border: 2px solid lightgrey;
    background: transparent;
    border-radius: 3px;
}
button:hover{
    background: gray;
    color: white;
}
h1 {
    position: absolute;
    justify-content: center;
    top: 50%;
    width: 350px;
}